# Виртуальные окружения
venv/
venv_brain/
.env

# Python кэш
__pycache__/
*.py[cod]
*$py.class

# Веса моделей (НИКОГДА не коммитьте их в Git, для этого есть Hugging Face)
*.bin
*.safetensors
*.pt
*.pth
*.model
qwen2-0.5b-scaled/
*.gguf

# OS файлы
.DS_Store
Thumbs.db
model_scaled_*/
*.safetensors
*.bin
*.pt
*.pth
__pycache__/
*.pyc
